/* Override body layout */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

.carousel, .item, .active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Override navbar background */
.navbar {
    background-color: transparent;
    background: transparent;
}

    .navbar li {
        color: #000;
    }

/* Set padding to keep content from hitting the edges */
.body-content {
    font-family: 'Roboto', sans-serif;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Main Search Input Box */
.search-input {
    max-width: 100%;
}

    .search-input:focus {
        border-color: rgba(24, 114, 11, 0.8);
        box-shadow: 0 4px 4px rgba(24, 114, 11, 0.075) inset, 0 0 8px rgba(24, 114, 11, 0.6);
        outline: 0 none;
    }

.btn-search {
    width: 100px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}