body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Roboto', sans-serif;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.search-input {
    max-width: 100%;
}

    .search-input:focus {
        border-color: rgba(24, 114, 11, 0.8);
        box-shadow: 0 4px 4px rgba(24, 114, 11, 0.075) inset, 0 0 8px rgba(24, 114, 11, 0.6);
        outline: 0 none;
    }

.btn-search {
    width: 100px;
    font-family: sans-serif;
}
